<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head')%>
    <link href="../../../public/styles/reset.css" rel="stylesheet" type="text/css" />
</head>
<link href="../../../public/styles/base.css" rel="stylesheet" type="text/css" />
</head>
</head>

<body>

    <%- include('../../layout/header')%>

    <main>
        <legend>Search By Title Or Author</legend>
        <form action="/searches/" method="POST">
            <input type="text" name="searched">
            <br>
            <label class="filter1"><input type="radio" name="searchFilter" value="title">Title</label>
            <br>
            <label class="filter1"><input type="radio" name="searchFilter" value="auther">Author</label>
            <br>
            <button type="submit">Search the Google Books API</button>
        </form>

    </main>


    <%- include('../../layout/footer')%>

</body>

</html>